@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aplicación de Alumnos</h1>
</div>

<div>
    @Html.ActionLink("Ver Alumnos", "Index", "tbAlumnos")
</div>

<div class="row">
    
</div>